//
// EnderecoNacionalAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire



public class EnderecoNacionalAPI: APIBase {
    /**
     
     Consultar Endere\u00E7o
     
     - parameter CEP: (query) CEP 
     - parameter completion: completion handler to receive the data and the error objects
     */
    public class func consultarEnderecoUsingGET(CEP CEP: String, completion: ((data: EnderecoResponse?, error: ErrorType?) -> Void)) {
        consultarEnderecoUsingGETWithRequestBuilder(CEP: CEP).execute { (response, error) -> Void in
            completion(data: response?.body, error: error);
        }
    }


    /**
     
     Consultar Endere\u00E7o
     
     - GET /api/ceps
     - Este recurso permite consultar endere\u00E7os atrav\u00E9s do CEP.
     - examples: [{contentType=application/json, example={
  "pontoReferencia" : "aeiou",
  "cidade" : "aeiou",
  "numero" : 123,
  "bairro" : "aeiou",
  "idTipoEndereco" : 123456789,
  "cep" : "aeiou",
  "pais" : "aeiou",
  "idPessoa" : 123456789,
  "uf" : "aeiou",
  "complemento" : "aeiou",
  "logradouro" : "aeiou",
  "dataInclusao" : "aeiou",
  "dataUltimaAtualizacao" : "aeiou",
  "id" : 123456789
}}]
     
     - parameter CEP: (query) CEP 

     - returns: RequestBuilder<EnderecoResponse> 
     */
    public class func consultarEnderecoUsingGETWithRequestBuilder(CEP CEP: String) -> RequestBuilder<EnderecoResponse> {
        let path = "/api/ceps"
        let URLString = PierAPI.basePath + path
        
        let nillableParameters: [String:AnyObject?] = [
            "CEP": CEP
        ]
        let parameters = APIHelper.rejectNil(nillableParameters)

        let requestBuilder: RequestBuilder<EnderecoResponse>.Type = PierAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
    }

}
